body {
    margin: 0;
    padding: 0;
    background: #212529;
}
* {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 700;
    font-family: 'Roboto';
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf),
    url(../fonts/Roboto-Bold.ttf);
}
/*first-section*/
#first-section {
    background: #27323E;
    position: absolute;
    width: 100%;
    height: 717px;
}
header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background: #27323E;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 36px;
}
a {
    text-decoration: none;
}
nav .title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}
nav span{
    background: linear-gradient( to right, #FC4A1A, #F7B733, #FFFFFF);
    -webkit-background-clip:text;
    color:transparent;
}
nav img {
    width: 64px;
    height: 64px;
}
/*group-1*/
.group-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 121px;
    position: relative;
    top: 138px;
}
.group-1 button{
    width: 134px;
    height: 64px;
    font-weight: 700;
    font-size: 22px;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
    border-radius: 40px 40px 40px 0;
    border: none;
}
.group-1 .name {
    font-size: 72px;
    line-height: 84px;
}
.group-1 .full-stack {
    font-size: 20px;
    line-height: 26px;
}
/*group-2*/
.group-2 {
    display: flex;
    align-items: center;
    margin: 27px 0;
    gap: 22px;
}
.group-2 img {
    width: 40px;
    height: 40px;
}
.button a{
    width: 180px;
    height: 45px;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
    border-radius: 100px;
}
.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 26px;
}
/*second-section*/
.second-section {
    position: absolute;
    width: 100%;
    height: 720px;
    left: 0;
    top: 716px;
    background: #212529;
}
/*second-section*/
.second-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 148px;
}
.second-section .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.second-section .picture{
    display: flex;
    align-items: center;
    gap: 15px;
}
.second-section .picture .img-1, .img-3{
   position: relative;
    top: -33px;
}
.second-section .picture .img-1, .img-2{
    position: relative;
    top: -23px;
}
.second-section .picture .img-1{
    position: relative;
    top: -33px;
}
.second-section .certificate {
    font-size: 18px;
    line-height: 21px;
}
.second-section .israel {
    font-size: 34px;
    line-height: 40px;
}
.about-me {
    width: 459px;
}
.about {
    display: flex;
}
.about-me .oval{
    width: 55px;
    height: 55px;
    background: linear-gradient(108.7deg, #FC4A1A -29.1%, #F7B733 97.76%);
    border-radius: 100%;
}
.about-me .title-about{
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 24px;
    position: relative;
    right: 34px;
}
.paragraph {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.paragraph p{
    font-size: 22px;
    line-height: 26px;
}
/*tiers-section*/
.tiers-section {
    position: relative;
    width: 100%;
    height: 720px;
    left: 0;
    top: 1435px;
    background: #27323E;
    padding: 55px 0;
}
.title-service {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-service .oval {
    width: 55px;
    height: 55px;
    background: linear-gradient(108.7deg, #FC4A1A -29.1%, #F7B733 97.76%);
    border-radius: 100%;
}
.title-service .my-service {
    font-size: 50px;
    line-height: 59px;
    position: relative;
    right: 34px;
}
/*service*/
.service {
    display: flex;
    align-items: center;
    justify-content: center;
}
.service .title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 10px;
}
.service .group-service {
    display: flex;
    gap: 11px;
}
.service .group-service .paragraph {
    font-size: 18px;
    line-height: 21px;
    width: 272px;
    height: 106px;
}
.service .group-service-iphone {
    position: relative;
    right: 115px;
    margin-top: 44px;
}
.service .right-service .title-paragraph {
   display: flex;
    flex-direction: column;
    text-align: end;
}
.service .right-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    left: 80px;
    top: 30px;
}
.service .left-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    right: 98px;
    top: 30px;
}
/*fourth-section*/
.fourth-section {
    position: absolute;
    width: 100%;
    left: 0;
    top: 2211px;
}
.portfolio {
    display: flex;
    width: 100%;
    margin-top: 68px;
    position: relative;
    top: 10px;
}
.first-project .img-3 {
    position: relative;
    top: -5px;
}
.portfolio img{
    width: 100%;
    height: 100%;
}
.portfolio .img{
    width: 100%;
}
.img-pro1 {
    display: flex!important;
}
.img-pro2 {
    width: 100%;
}
.img-0 {
    position: relative;
    left: 2px;
}
.img-pro2 .img-2 {
    position: relative;
    top: -3px;
}
.img-pro3 {
    display: flex!important;
    position: relative;
    top: -4px;
}
.img-pro4 {
    display: flex!important;
    position: relative;
}
.display-img {
    display: flex;
    flex-direction: column;
}
.first-project, .second-project, .tiers-project {
    width: 100% !important;
}
/*fifth-section*/
.fifth-section {
    position: absolute;
    width: 100%;
    height: 760px;
    left: 0;
    background: #27323E;
    padding: 65px 0;
}
.img-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-blog .part1-blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transform: rotate(-45deg);
    gap: 10px;
}

/*section-six*/
.section-six {
    position: absolute;
    width: 100%;
    top: 760px;
    /*padding: 0 191px 0 128px;*/
}
.title-contact {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 44px;
    position: relative;
    margin-left: 170px;
}
.input-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 90px 210px 90px 210px;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 28px;
}
input, textarea {
    color: #7A7A7A;
    background: none;
    border: none;
}
input, textarea {
    background: linear-gradient(#212529, #212529) padding-box,
    linear-gradient(to right, #FC4A1A, #F7B733) border-box;
    border-radius: 86px;
    border: 1px solid transparent;
    width: 100%;
    height: 55px;
    padding: 0 20px;
}
textarea {
    border-radius: 20px;
    height: 188px;
}
button {
    width: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #FC4A1A, #F7B733) border-box;
    color: #FFFFFF;
    border-radius: 86px;
    height: 49px;
    border: none;
}
.name_f-name, .email, .name, .f-name {
    width: 100%;
}
.name_f-name {
    display: flex;
    align-items: center;
    gap: 35px;
}
/*contact*/
.contact {
    width: 100%;
    height: 446px;
    background: linear-gradient(to right, #FC4A1A, #F7B733);
    border-radius: 7px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 20px;
    width: 70%;
}
.contact img {
    width: 24px;
    height: 24px;
}
.contact-paragraph {
    display: flex;
}
.contact-paragraph .text {
    font-size: 18px;
}
/*responsive*/
@media screen and (max-width: 1920px){
    nav {
        padding: 30px 100px;
    }
    .group-1 {
        padding: 0 65px 0 170px;
    }
    .second-section {
        padding: 0 170px;
    }
    .contact {
        padding: 35px;
    }
}
@media screen and (max-width: 1540px) {
    .contact {
        padding: 20px;
    }
}
@media screen and (max-width: 1280px) {
    nav {
        padding: 27px 36px;
    }
    .contact {
        padding: 20px;
    }
    .group-1 {
        padding:0 0 0 121px;
    }
    .second-section {
        padding: 0 121px;
    }
    .title-contact {
        margin-left: 121px;
    }
    .input-contact {
        padding: 90px 160px 90px 160px;
    }
    .contact {
        padding: 12px;
    }
}
@media screen and (max-width: 1115px) {
    .group-1 {
        padding: 0 0 0 65px;
    }
    .second-section {
        padding: 0 65px;
    }
    .title-contact {
        margin-left: 65px;
    }
    .input-contact {
        padding: 90px 100px 90px 100px;
    }
}
@media screen and (max-width: 1115px)  {
    .group-1 .name {
        font-size: 55px;
        line-height: 78px;
    }
    .group-1 .full-stack {
        font-size: 18px;
    }
    #first-section {
        height: 600px;
    }
    .group-1 .iphone {
        width: 300px!important;
    }
    .second-section {
        top: 670px;
    }
    .service .group-service-iphone {
        width: 400px;
        right: 100px;
    } 
}
@media screen and (max-width: 992px)  {
    .group-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .group-1 .name {
        font-size: 78px;
        line-height: 100px;
        text-align: center;
    }
    #first-section {
        height: 100vh;
    }
    .group-1 .iphone {
        width: 460px!important;
    }
    .second-section {
        top: 1034px;
    }
    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .group-1 .iphone {
        display: flex;
        position: relative;
        left: 75px;
    }
    .group-1 {
        padding: 0 0 0 0;
    }
    .second-section {
        display: flex;
        align-items: center;
        padding: 0 ;
        flex-direction: column;
        margin-top: 45px;
    }
    .second-section .profil {
        margin-top: 70px;
    }
    .tiers-section {
        top: 1935px;
        height: 100%;
        padding: 55px 55px;
    }
    .about, .title-contact {
        justify-content: center;
    }
    .service {
        display: flex;
        align-items: center;                                                                                      
        flex-direction: column;
    }
    .fourth-section {
        top: 3585px;
    }
    .portfolio {
        display: flex;
        flex-direction: column;
        padding: 0 60px;
    }
    .service .right-service .title-paragraph {
        text-align: start;
    }
    .right-service .group-service {
        flex-direction: row-reverse;
    }
    .service .right-service {
        left: 0;
    }
    .service .left-service {
        right: 0;
    }
    .service .group-service .paragraph {
        width: 100%;
    }
    .about-me {
        width: 90%;
    }
    .input-contact {
        display: flex;
        flex-direction: column;
        padding: 90px 210px 90px 210px;
    }
    .input-contact {
        display: flex;
        flex-direction: column;
        padding: 90px 100px 90px 100px;
    }
    .contact {
        padding: 40px;
    }
}
